body{
    margin: 0px auto;
    width:100%;
    font-family: 'Urbanist', sans-serif; 
}

.home {
	background-color:#fce38a;
	text-align: center;
	font-size: 40px; 
	padding: 50px;
    display: table;
	height:70vh;
	width:100%;
}
.home img{
	height:350px;
    width:auto; 
}
.team{
    background-color:#fce38a;
	text-align: justify;
	font-size: 40px; 
	padding: 50px;
    display: table;
	height:70vh;
	width:100%;
}
h2,h3{
	text-align: center;
}
